.idea
.DS_Store
Backend/Simulation/data/APIKEY.txt
Backend/Simulation/logs
Backend/Simulation/src/simulation/run
*.pyc
*.pyo
*.pyd
Backend/Simulation/src/simulation/__pycache__/
Backend/Simulation/src/simulation/person/__pycache__/
Backend/Simulation/src/__pycache__/
*/__pycache__/
node_modules/
Client/node_modules/
Client/build/
Client/.env
Backend/Api/node_modules/
Backend/Api/build/
Backend/Api/.env
