.idea
.DS_Store
Server/Simulation/data/APIKEY.txt
Server/Simulation/logs
Server/Simulation/src/simulation/run
*.pyc
*.pyo
*.pyd
Server/Simulation/src/simulation/__pycache__/
Server/Simulation/src/simulation/person/__pycache__/
Server/Simulation/src/__pycache__/
*/__pycache__/
node_modules/
Client/node_modules/
Client/build/
Client/.env
Server/Api/node_modules/
Server/Api/build/
Server/Api/.env
