.idea
.DS_Store
data/APIKEY.txt
logs
src/simulation/run
*.pyc
*.pyo
*.pyd
src/simulation/__pycache__/
src/simulation/person/__pycache__/
src/__pycache__/
*/__pycache__/
node_modules/
Client/node_modules/
Client/build/
Client/.env
Server/Api/node_modules/
Server/Api/build/
Server/Api/.env
